@page "/GameInstruction"

<p>Gra składa się z dwóch kompletów po 36 pionków symbolizujących floty grających oraz kolorowej planszy.</p>
<p>Na planszy kolorem żółtym i czerwonym zaznaczono porty grających. Gra toczy się na morzu oznaczonym kolorem niebieskim.</p>
<p>Na środku morza teren zakropkowany oznacza wody neutralne.</p>
<p>Białe linie oznaczają brzegi, lini tej nie mogą przekroczyć żadne jednostki. Czarną kratką podzielono całą planszę na pola po których poruszają się okręty - pionki.</p>
<ol>
    <li>Cel gry: Przeprowadzenie orkętu desantowego z własnego portu do portu przeciwnika. Gracz tracący okręt desantowy przegrywa partię.</li>
    <li>Liczba grających: Dwie osoby lub dwa zespoły graczy.</li>
    <li>Siły grających: Każdy z graczy rozporządza siłami wymienionymi w tabelce, podane są w niej również: liczba pól, którą za jednym ruchem może przejść jednostka, oraz "siła jednostki" - kogo bije, a komu ulega.</li>
    <li>Rozpoczęcie gry: Gracze ustawiają swe jednostki w porcie (na czerwonych lub żółtych polach planszy) w dowolnym porządku, w ten sposób aby były niewidoczne dla przeciwnika. Po wylosowaniu w dowolny sposób, który z graczy lub zespołów zaczyna, przeciwnicy kolejno na zmianę wyprowadzają okręty z portu przez pola oznaczone białymi liniami prostopadłymi do linii brzegowej. Baterie nabrzeżne ustawia się na stałe, na polach swojego wybrzeża sąsiadujących z wejściami do portu. Miny ustawia się na planszy dopiero w trakcie gry.</li>
    <li>Poruszanie się: Dowolny okręt może przesuwać we wszystkich kierunkach (również w skos). W celu zamaskowania typu jednostki można ją przesuwać o mniejszą liczbę pól, niż to wskazano w tabelce. Zajętych pól nie wolno przeskakiwać. W obrębie portu obowiązują te same zasady gry co na pełnym morzu.</li>
    <li>Bicie: Gracz chcąc zaatakować jednostkę przeciwnika mówi: "Atakuję" i wykonuję ruch na pole z którego okręt przeciwnika znajduje się w zasięgu bicia lub może zaatakować nie wykonując ruchu jeżeli przeciwnik wszedł sam w zasięg jego bicia. Gracze ujawniają swoje jednostki. Jednostka silniejsza zostaje na planszy, słabszą zdejmuje się. Jeżeli okaże się, że jednostki są tego samego typu wówczas obie zdejmuje się z planszy. Zasięg bicia równy jest liczbie pól, którą za jednym ruchem może przejść jednostka.</li>
    <li>Miny: Minę może postawić tylko trałowiec w dowolnej chwill, na jednym z pól sąsiadujących z zajętym przez trałowiec polem. Postawienie miny nie liczy się za ruch, jednak gracz wykonując ruch trałowcem powinien powiedzieć: "Stawiam minę". Postawionej miny nie wolno przesuwać na inne miejsce. Mina może być zdjęta z planszy tylko przez trałowiec przeciwnika, gdy ten wykonując ruch trałowcem zaatakuje pole zajęte przez minę mówiąc: "Zdejmuję minę". Jeżeli mina zostanie zaatakowana przez okręt (również przez trałowiec, gdy gracz powie "Atakuję"), to zdejmuje się z planszy zarówno okręt atakujący, jak i minę.</li>
    <li>Baterie nabrzeżne: Przez pola leżące w zasięgu baterii nabrzeżnych okręty przeciwnika nie mogą przechodzić. Bateria może być zniszczona tylko przez okręt rakietowy.</li>
    <li>Wody neutralne: Na środku planszy znajduje się wyspa neutralna otoczona wodami neutralnymi, które oznaczono czarnymi kropkami. Każdy okręt może schronić się na wodach neutralnych i pozostać tam na przeciągu trzech kolejnych ruchów danego gracza jeżeli w czwartym ruchu nie opuści tych wód zostaje wyeliminowany z gry (ulega internowaniu). Zdjęcie z planszy takiej jednostki nie liczy się za ruch. Jednostka znajdująca się w granicach wód neutralnych nie może być atakowana, na wodach tych nie wolno też stawiać min.</li>
    <li>Zakończenie gry: Grę kończy wprowadzenie okrętu desantowego do portu przeciwnika. Utrata okrętu desantowego oznacza przegranie gry. Również utrata wszystkich trzech okrętów rakietowych oznacza przegranie gry, ponieważ wejście do portu bronione przez baterie może otworzyć tylko okręt rakietowy.Zakończenie gry: Grę kończy wprowadzenie okrętu desantowego do portu przeciwnika. Utrata okrętu desantowego oznacza przegranie gry. Również utrata wszystkich trzech okrętów rakietowych oznacza przegranie gry, ponieważ wejście do portu bronione przez baterie może otworzyć tylko okręt rakietowy.</li>
</ol>
<h3>ŻYCZYMY UDANEJ GRY</h3>

<style>
    ol > li {
        margin-top: 5px;
    }
</style>