@implements IDisposable
@inject GameService Game

<MyBSModal Id="instruction-modal" Header="Zasady gry">
    <Content>
        <GameInstruction/>
    </Content>
</MyBSModal>
<MyBSModal Id="table-modal" Header="Jednostki">
    <Content>
        <UnitsPowerTable/>
    </Content>
</MyBSModal>
<MyBSModal Id="destroyed-units-modal" Header="Stracone Jednostki">
    <Content>
        <DestroyedUnits Source="destroyedUnits"/>
    </Content>
</MyBSModal>
<OnlineGameModal />

<nav class="navbar navbar-dark navbar-expand-md bg-dark">
    <form class="container-fluid flex-row justify-content-between">
        <span class="navbar-brand mx-1 d-none d-md-inline">Manewry Morskie</span>
        <ul class="nav d-flex flex-row">
            <li class="nav-item dropdown">
                <div class="btn-group">
                    <button type="button" class="btn-outline-light btn mx-2 dropdown-toggle" data-bs-toggle="dropdown">
                        <span class="oi oi-media-play"></span>
                        <span class="d-none d-md-inline">  Nowa Gra</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark bottom-start">
                        <li><a class="dropdown-item" href="javascript:void(0)" 
                            @onclick="async () => await StartLocalGame()">Hot Seat</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0)" 
                            data-bs-toggle="modal" data-bs-target="#online-game-modal" >Online</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item dropdown">
                <div class="btn-group">
                    <button type="button" class="btn-outline-light btn mx-2 dropdown-toggle" data-bs-toggle="dropdown">
                        <span class="oi oi-info"></span>
                        <span class="d-none d-md-inline">  Rozgrywka</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark bottom-start">
                        <li><a class="dropdown-item" href="javascript:void(0)"
                               data-bs-toggle="modal" data-bs-target="#instruction-modal">Zasady gry</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="javascript:void(0)"
                               data-bs-toggle="modal" data-bs-target="#table-modal">Tabela jednostek</a>
                        </li>
                        <li>
                            <a class="dropdown-item @(isGameOngoing?string.Empty:"disabled")" 
                               href="javascript:void(0)"
                               @onclick="async () => destroyedUnits = await Game.DestroyedUnits()"
                               data-bs-toggle="modal" data-bs-target="#destroyed-units-modal">Stracone jednostki</a>
                        </li>
                    </ul>
                </div>
            </li>
            <BoardTransformTools />
        </ul>
    </form>
</nav>

@code 
{
    private bool isGameOngoing = false;
    private Dictionary<string, int[]>? destroyedUnits;

    protected override void OnInitialized()
    {
        Game.GameStarted += GameStarted;
        Game.GameClosed += GameStopped;
    }

    private async ValueTask StartLocalGame()
    {
        await Game.SetUpLocal();
        await Game.RunGame();
    }

    private async Task GameStarted() => await SetOngoing(true);

    private async Task GameStopped(string? msg) => await SetOngoing(false);

    private async ValueTask SetOngoing(bool val) => await InvokeAsync(() => { isGameOngoing = val; StateHasChanged(); });

    public void Dispose()
    {
        Game.GameStarted -= GameStarted;
        Game.GameClosed -= GameStopped;
    }
}
