@using Microsoft.Extensions.Configuration

@implements IDisposable

@inject BoardService BoardService
@inject PawnAnimatingService AnimatingService
@inject IConfiguration config

@if(pawn.HasValue)
{
    <div @ref="pawnRef" class="@PawnCss" title="@(pawn.Value.LabelIsHidden ? string.Empty : pawn.Value.Label)">
        @if(!pawn.Value.LabelIsHidden)
        {
            <div class="pawn-label"
                style="transform: scale(@(scale.ToString().Replace(',', '.'))); margin: 0 @pawnLabelMargin 0 @pawnLabelMargin;">
                @(pawn.Value.Label)</div>
        }
    </div>
}

@code {
    [Parameter]
    public uint Column { get; init; }
    [Parameter]
    public uint Row { get; init; }

    private CellLocation Location { get; set; }

    private ElementReference pawnRef;

    private string scale = "1";
    private string pawnLabelMargin = "2px";
    private Pawn? pawn;

    private string PawnCss
    {
        get
        {
            string result = $"pawn pawn-" + (pawn!.Value.Color == 0 ? "yellow" : "blue");

            if (pawn.Value.LabelIsHidden)
                result += (pawn.Value.IsBattery ? "-art" : "-ship");
            return result;
        }
    }

    protected override void OnInitialized()
    {
        scale = config["PawnFontScale"];
        pawnLabelMargin = config["PawnLabelMargin"];
        Location = (CellLocation)(Column, Row);
        BoardService[Location].PawnChanged += PlacePawn;
        BoardService[Location].AnimatingPawn += AnimatePawn;
    }

    private async Task PlacePawn(Pawn? pawn)
    {
        await InvokeAsync(() =>
        {
            this.pawn = pawn;
            StateHasChanged();
        });
    }

    private async Task AnimatePawn(IEnumerable<CellLocation> path, int duration)
    {
        await AnimatingService.MovePawn(pawnRef, path, duration);
    }

    public void Dispose()
    {
        BoardService[Location].PawnChanged -= PlacePawn;
        BoardService[Location].AnimatingPawn -= AnimatePawn;
    }
}
