.pawn {
    padding-top: 15px;
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: 300ms ease;
    z-index: 100;
    position: relative;
}

.pawn-label {
    font-size: 5px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    transform-origin: center;
}

.pawn-blue {
    color: white;
    background-image: url('PawnBlue.svg');
}

.pawn-blue-art {
    color: white;
    background-image: url('PawnBlueArt.svg');
}

.pawn-blue-ship {
    color: white;
    background-image: url('PawnBlueShip.svg');
}

.pawn-yellow {
    color: black;
    background-image: url('PawnYellow.svg');
}

.pawn-yellow-art {
    color: black;
    background-image: url('PawnYellowArt.svg');
}

.pawn-yellow-ship {
    color: black;
    background-image: url('PawnYellowShip.svg');
}
